.iconlyboldarrow-left-squar {
  width: 20px;
  position: relative;
  height: 20px;
}
.back {
  position: relative;
}
.iconlyboldarrow-left-squar-parent {
  border-radius: var(--br-3xs);
  background-color: var(--background-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: 0 20px;
  cursor: pointer;
}
.iconlyboldlogout {
  width: 20.8px;
  position: relative;
  height: 20px;
}
.iconlyboldlogout-parent {
  border-radius: var(--br-3xs);
  background-color: var(--border-active);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: 0 20px;
  cursor: pointer;
}
.frame-parent {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 1431.8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.alumconnect-icon10 {
  position: absolute;
  top: 4.5px;
  left: calc(50% - 40.25px);
  width: 140.5px;
  height: 24.3px;
}
.logo-combo10,
.logo-mark-icon10 {
  position: absolute;
  top: 0;
  left: calc(50% - 100.35px);
  width: 35px;
  height: 35px;
}
.logo-combo10 {
  top: 50px;
  left: calc(50% - 100px);
  width: 200.7px;
  cursor: pointer;
}
.short-profile-card-child {
  border-radius: var(--br-xl);
  background-color: var(--background-color);
  width: 370px;
  height: 959px;
}
.onabanjo-david,
.short-profile-card-child,
.uiux-designer {
  position: absolute;
  top: 0;
  left: 0;
}
.uiux-designer {
  top: 29px;
  left: 27px;
  font-size: var(--body-small-size);
  font-family: var(--body-small);
  color: var(--border-active);
}
.name-and-title,
.profile-child {
  position: absolute;
  top: 126px;
  left: 69px;
  width: 155px;
  height: 48px;
}
.profile-child {
  top: 0;
  left: 94px;
  border-radius: 50%;
  width: 106px;
  height: 106px;
  object-fit: cover;
}
.passionate-uiux-designer {
  position: absolute;
  top: 194px;
  left: 0;
  font-size: var(--body-small-size);
  font-family: var(--body-small);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 294px;
  height: 209px;
}
.profile {
  position: absolute;
  top: 0;
  left: 12px;
  width: 294px;
  height: 403px;
}
.frame-group,
.user-interface-design-wrapper {
  background-color: var(--background-color);
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.user-interface-design-wrapper {
  border-radius: var(--br-6xl);
  border: 2px solid var(--border-active);
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
}
.frame-group {
  position: absolute;
  top: 54px;
  left: 0;
  width: 318px;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) 11px;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  max-width: 318px;
  font-size: var(--body-size);
  color: var(--border-active);
  font-family: var(--body-small);
}
.profile-parent,
.skills {
  position: absolute;
  top: 473px;
  left: 0;
  width: 318px;
  height: 386px;
}
.profile-parent {
  top: 60px;
  left: 26px;
  height: 859px;
}
.short-profile-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 959px;
  font-size: var(--header-4-size);
}
.basic-information {
  position: relative;
  font-size: var(--header-4-size);
  font-family: var(--header-6);
}
.years {
  position: absolute;
  top: 22px;
  left: 0;
  font-weight: 600;
  color: var(--color-black);
}
.age {
  width: 65px;
  position: relative;
  height: 44px;
}
.years-of-experience {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.age2,
.age3,
.age4,
.age5,
.age6 {
  width: 171px;
  position: relative;
  height: 44px;
}
.age3,
.age4,
.age5,
.age6 {
  width: 141px;
}
.age4,
.age5,
.age6 {
  width: 114px;
}
.age5,
.age6 {
  width: 166px;
}
.age6 {
  width: 43px;
}
.age-parent {
  width: 700px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 30px 150px;
  max-width: 700px;
  color: var(--border-inactive);
}
.iconlytwo-tonepaper-download {
  width: 15.6px;
  position: relative;
  height: 18.4px;
}
.download-resume {
  position: relative;
  font-weight: 600;
}
.iconlytwo-tonepaper-download-group,
.iconlytwo-tonepaper-download-parent {
  border-radius: var(--br-5xs);
  background-color: var(--border-active);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: 0 10px;
}
.iconlytwo-tonepaper-download-group {
  background-color: var(--background-color);
  border: 2px solid var(--border-active);
}
.frame-container {
  width: 439px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}
.basic-information-parent,
.frame-container,
.frame-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.basic-information-parent {
  width: 700px;
  flex-direction: column;
  gap: 30px 0;
}
.frame-wrapper {
  position: absolute;
  top: 0;
  left: 410px;
  border-radius: var(--br-xl);
  background-color: var(--background-color);
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-6xl) var(--padding-21xl);
  font-size: var(--body-size);
  font-family: var(--body-small);
}
.experience {
  position: relative;
  font-size: var(--header-4-size);
  color: var(--primary-color-1);
}
.frame-child25 {
  width: 70px;
  position: relative;
  border-radius: 50%;
  height: 70px;
  object-fit: cover;
}
.ramotion-studio-wrapper {
  width: 128px;
  position: relative;
  height: 22px;
}
.product-uiux-designer-wrapper {
  width: 188px;
  position: relative;
  height: 22px;
  color: var(--border-inactive);
}
.apr-2023-present-lagos-ni-wrapper {
  width: 232px;
  position: relative;
  height: 19px;
  font-size: var(--body-small-size);
  color: var(--primary-color-25);
  font-family: var(--body-small);
}
.ellipse-parent7,
.group-parent21 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.ellipse-parent7 {
  flex-direction: row;
  gap: 0 30px;
}
.egg-light-studio-wrapper,
.web-designer-wrapper {
  width: 127px;
  position: relative;
  height: 22px;
}
.web-designer-wrapper {
  width: 103px;
  color: var(--border-inactive);
}
.feb-2023-may-2023-boston-wrapper {
  width: 244px;
  position: relative;
  height: 19px;
  font-size: var(--body-small-size);
  color: var(--primary-color-25);
  font-family: var(--body-small);
}
.frame-wrapper1 {
  position: absolute;
  top: 339px;
  left: 410px;
  border-radius: var(--br-xl);
  background-color: var(--background-color);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl) var(--padding-21xl);
  color: var(--primary-color-50);
}
.visual-elements-of-user-interf-wrapper {
  width: 302px;
  position: relative;
  height: 22px;
}
.california-institute-of-arts-wrapper {
  width: 197px;
  position: relative;
  height: 22px;
  color: var(--border-inactive);
}
.coursera-wrapper {
  width: 60px;
  position: relative;
  height: 19px;
  font-size: var(--body-small-size);
  color: var(--primary-color-25);
  font-family: var(--body-small);
}
.ux-design-fundamentals-wrapper {
  width: 186px;
  position: relative;
  height: 22px;
}
.web-design-strategy-and-infor-wrapper {
  width: 384px;
  position: relative;
  height: 22px;
}
.web-design-wireframes-to-prot-wrapper {
  width: 291px;
  position: relative;
  height: 22px;
}
.frame-wrapper2 {
  position: absolute;
  top: 658px;
  left: 410px;
  border-radius: var(--br-xl);
  background-color: var(--background-color);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl) var(--padding-21xl);
  color: var(--primary-color-50);
}
.short-profile-card-parent {
  position: absolute;
  top: 148px;
  left: 161px;
  width: 1190px;
  height: 1137px;
}
.alumni-profile {
  width: 100%;
  position: relative;
  background-color: var(--color-lemonchiffon);
  height: 1455px;
  overflow-x: auto;
  text-align: left;
  font-size: var(--header-6-size);
  color: var(--primary-color-1);
  font-family: var(--header-6);
}
