.hero-section-child4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1510px;
  height: 518px;
}
.hero-section-child5 {
  position: absolute;
  top: 100px;
  left: calc(50% - 680px);
  background-color: var(--primary-color-25);
  width: 1360px;
  height: 329px;
}
.amazing-companies {
  color: var(--primary-color-1);
}
.explore-amazing-companies-container {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 500px;
}
.search-icon2 {
  width: 30px;
  position: relative;
  height: 30px;
  object-fit: cover;
}
.search-box-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-lemonchiffon);
  width: 336px;
  height: 30px;
}
.search-for-companies {
  position: absolute;
  top: 5px;
  left: 30.7px;
  display: inline-block;
  width: 276.5px;
}
.search-box2 {
  width: 336px;
  position: relative;
  height: 30px;
}
.search1 {
  position: relative;
  font-size: var(--header-6-size);
  color: var(--border-active);
  cursor: pointer;
}
.btn6 {
  position: absolute;
  top: 163px;
  left: calc(50% - 140.5px);
  border-radius: var(--br-6xl);
  background-color: var(--background-color);
  box-shadow: 0 4px 15px 5px rgba(0, 102, 0, 0.12);
  height: 84px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl) var(--padding-11xl);
  box-sizing: border-box;
  gap: 0 50px;
  font-size: var(--body-small-size);
  color: var(--color-gray-100);
  font-family: var(--body-small);
}
.hero-content2,
.hero-section2,
.left-content2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 893px;
  height: 247px;
}
.hero-content2,
.hero-section2 {
  top: 231px;
  left: 155px;
}
.hero-section2 {
  top: 0;
  left: 2px;
  width: 1510px;
  height: 518px;
}
.featured-companies-inner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-lemonchiffon);
  width: 1512px;
  height: 735px;
}
.featured-companies5 {
  position: absolute;
  top: 0;
  left: calc(50% - 183.5px);
}
.amazing-companies-are2 {
  margin: 0;
}
.amazing-companies-are-container2 {
  position: absolute;
  top: 80px;
  left: 8px;
  font-size: var(--body-size);
  font-family: var(--body-small);
  color: var(--color-black);
  text-align: center;
}
.featured-companies-container {
  position: absolute;
  top: 0;
  left: calc(50% - 180px);
  width: 367px;
  height: 124px;
}
.frame-child11 {
  width: 120px;
  position: relative;
  border-radius: var(--br-mini);
  height: 120px;
  object-fit: cover;
}
.group-parent7,
.rectangle-parent7 {
  position: absolute;
  left: calc(50% - 442px);
  width: 884px;
}
.rectangle-parent7 {
  top: 217px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 81px 252px;
}
.group-parent7 {
  top: 99px;
  height: 538px;
}
.featured-companies4 {
  position: absolute;
  top: 1982px;
  left: 0;
  width: 1512px;
  height: 735px;
  color: var(--primary-color-1);
}
.group-child22 {
  position: absolute;
  top: 0;
  left: calc(50% - 480px);
  border-radius: var(--br-25xl);
  background-color: var(--color-lemonchiffon);
  width: 960px;
  height: 417px;
}
.subscribe7 {
  color: var(--color-black);
}
.subscribe-newsletter-container2 {
  position: absolute;
  top: 83px;
  left: calc(50% - 241px);
}
.subscribe-child1 {
  position: absolute;
  top: 0;
  left: calc(50% - 328.5px);
  border-radius: var(--br-9xl);
  background-color: var(--background-color);
  width: 657px;
  height: 101px;
}
.email-address2 {
  position: absolute;
  top: 40px;
  left: 50px;
}
.group-child23 {
  position: absolute;
  top: 0;
  left: calc(50% - 78px);
  border-radius: var(--br-xl);
  background-color: var(--border-active);
  width: 156px;
  height: 71px;
}
.subscribe9 {
  position: absolute;
  top: 25px;
  left: 41px;
}
.rectangle-parent9,
.subscribe8 {
  position: absolute;
  top: 15px;
  left: calc(50% + 157.5px);
  width: 156px;
  height: 71px;
  font-size: var(--header-6-size);
  color: var(--primary-color-1);
  font-family: var(--header-6);
}
.subscribe8 {
  top: 233px;
  left: calc(50% - 328px);
  width: 657px;
  height: 101px;
  font-size: var(--body-size);
  color: var(--border-inactive);
  font-family: var(--body-small);
}
.rectangle-parent8 {
  position: absolute;
  top: 2967px;
  left: calc(50% - 480px);
  width: 960px;
  height: 417px;
  text-align: center;
  color: var(--color-black);
}
.group-child24 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-100);
  width: 1512px;
  height: 207px;
}
.alumconnect-icon6 {
  position: absolute;
  top: 4.5px;
  left: 59.9px;
  width: 140.1px;
  height: 24.3px;
}
.logo-combo6,
.logo-mark-icon6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 34.9px;
  height: 34.9px;
}
.logo-combo6 {
  top: 50px;
  left: 176px;
  width: 200px;
}
.group-child25 {
  position: absolute;
  top: 104.5px;
  left: calc(50% - 582.5px);
  border-top: 1px solid var(--border-inactive);
  box-sizing: border-box;
  width: 1165px;
  height: 1px;
}
.span4 {
  font-size: var(--body-size);
}
.copyright-2023-alumconnect-container2 {
  position: absolute;
  top: 125px;
  left: 174px;
}
.privacy-policy2 {
  position: relative;
}
.privacy-policy-container {
  position: absolute;
  top: 125px;
  left: 984px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 25px;
}
.rectangle-parent10 {
  position: absolute;
  top: 3584px;
  left: 0;
  width: 1512px;
  height: 207px;
  font-size: var(--body-small-size);
  font-family: var(--body-small);
}
.companies-list1 {
  position: absolute;
  top: 0;
  left: 21px;
  font-size: var(--header-1-size);
}
.company-card-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--background-color);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
}
.group-child26 {
  height: 100%;
  width: 32.38%;
  right: 67.62%;
  bottom: 0;
  border-radius: 50%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.google,
.group-child26,
.wwwgooglecom {
  position: absolute;
  top: 0;
  left: 0;
}
.wwwgooglecom {
  top: 66.07%;
  left: 0.88%;
  font-size: var(--body-small-size);
  color: var(--border-inactive);
}
.ellipse-parent,
.google-parent {
  position: absolute;
  height: 82.35%;
  width: 53.81%;
  top: 8.82%;
  right: 0;
  bottom: 8.82%;
  left: 46.19%;
}
.ellipse-parent {
  height: 39.53%;
  width: 78.65%;
  top: 0;
  right: 20.6%;
  bottom: 60.47%;
  left: 0.75%;
}
.log-in-container {
  position: absolute;
  height: 31.4%;
  width: 100%;
  top: 68.6%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-12xl-5);
  background-color: var(--border-active);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mini) var(--padding-28xl);
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  color: var(--background-color);
  font-family: var(--header-6);
}
.group-parent8 {
  position: absolute;
  height: 74.78%;
  width: 81.16%;
  top: 12.61%;
  right: 9.42%;
  bottom: 12.61%;
  left: 9.42%;
}
.company-card {
  width: 329px;
  position: relative;
  height: 230px;
}
.group-child27 {
  position: absolute;
  height: 100%;
  width: 31.19%;
  top: 0;
  right: 68.81%;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.wwwgooglecom1 {
  position: absolute;
  top: 66.07%;
  left: 0.83%;
  font-size: var(--body-small-size);
  color: var(--border-inactive);
}
.google-group {
  position: absolute;
  height: 82.35%;
  width: 55.5%;
  top: 8.82%;
  right: 0;
  bottom: 8.82%;
  left: 44.5%;
}
.ellipse-group,
.group-child28 {
  position: absolute;
  height: 39.53%;
  width: 81.65%;
  top: 0;
  right: 17.6%;
  bottom: 60.47%;
  left: 0.75%;
}
.group-child28 {
  height: 100%;
  width: 31.05%;
  right: 68.95%;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.wwwgooglecom2 {
  position: absolute;
  top: 66.07%;
  left: 0.82%;
  font-size: var(--body-small-size);
  color: var(--border-inactive);
}
.google-container {
  position: absolute;
  height: 82.35%;
  width: 55.71%;
  top: 8.82%;
  right: 0;
  bottom: 8.82%;
  left: 44.29%;
}
.ellipse-container,
.group-child29 {
  position: absolute;
  height: 39.53%;
  width: 82.02%;
  top: 0;
  right: 17.23%;
  bottom: 60.47%;
  left: 0.75%;
}
.group-child29 {
  height: 100%;
  width: 30.77%;
  right: 69.23%;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.wwwgooglecom3 {
  position: absolute;
  top: 66.07%;
  left: 0.81%;
  font-size: var(--body-small-size);
  color: var(--border-inactive);
}
.google-parent1 {
  position: absolute;
  height: 82.35%;
  width: 56.11%;
  top: 8.82%;
  right: 0;
  bottom: 8.82%;
  left: 43.89%;
}
.ellipse-parent1,
.group-child31 {
  position: absolute;
  height: 39.53%;
  width: 82.77%;
  top: 0;
  right: 16.48%;
  bottom: 60.47%;
  left: 0.75%;
}
.group-child31 {
  height: 100%;
  width: 30.09%;
  right: 69.91%;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.wwwgooglecom5 {
  position: absolute;
  top: 66.07%;
  left: 0.78%;
  font-size: var(--body-small-size);
  color: var(--border-inactive);
}
.google-parent3 {
  position: absolute;
  height: 82.35%;
  width: 57.08%;
  top: 8.82%;
  right: 0;
  bottom: 8.82%;
  left: 42.92%;
}
.ellipse-parent3,
.group-child33 {
  position: absolute;
  height: 39.53%;
  width: 84.64%;
  top: 0;
  right: 14.61%;
  bottom: 60.47%;
  left: 0.75%;
}
.group-child33 {
  height: 100%;
  width: 31.92%;
  right: 68.08%;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.wwwgooglecom7 {
  position: absolute;
  top: 66.07%;
  left: 0.86%;
  font-size: var(--body-small-size);
  color: var(--border-inactive);
}
.google-parent5 {
  position: absolute;
  height: 82.35%;
  width: 54.46%;
  top: 8.82%;
  right: 0;
  bottom: 8.82%;
  left: 45.54%;
}
.ellipse-parent5,
.group-child34 {
  position: absolute;
  height: 39.53%;
  width: 79.78%;
  top: 0;
  right: 19.48%;
  bottom: 60.47%;
  left: 0.75%;
}
.group-child34 {
  height: 100%;
  width: 35.42%;
  right: 64.58%;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.wwwgooglecom8 {
  position: absolute;
  top: 66.07%;
  left: 1.05%;
  font-size: var(--body-small-size);
  color: var(--border-inactive);
}
.ellipse-parent6,
.google-parent6 {
  position: absolute;
  height: 82.35%;
  width: 49.48%;
  top: 8.82%;
  right: 0;
  bottom: 8.82%;
  left: 50.52%;
}
.ellipse-parent6 {
  height: 39.53%;
  width: 71.91%;
  top: 0;
  right: 27.34%;
  bottom: 60.47%;
  left: 0.75%;
}
.company-card-parent,
.log-in-wrapper8 {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.company-card-parent {
  top: 120px;
  left: calc(50% - 570px);
  width: 1140px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  gap: var(--gap-31xl);
  min-width: 370px;
  max-width: 1140px;
  color: var(--color-black);
  font-family: var(--body-small);
}
.log-in-wrapper8 {
  top: 1110px;
  left: calc(50% - 188px);
  border-radius: var(--br-12xl-5);
  background-color: var(--border-active);
  width: 376px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mini) var(--padding-144xl);
  cursor: pointer;
  text-align: center;
  color: var(--primary-color-1);
}
.companies-list {
  position: absolute;
  top: 668px;
  left: 186px;
  width: 1140px;
  height: 1164px;
  font-size: var(--header-5-size);
  color: var(--deep-green);
}
.nav-child2 {
  width: 1512px;
  position: relative;
  background-color: var(--color-gray-200);
  backdrop-filter: blur(20px);
  height: 100px;
  z-index: 0;
}
.alumconnect-icon7,
.logo-mark-icon7 {
  position: absolute;
  top: 4.5px;
  left: calc(50% - 40.25px);
  width: 140.5px;
  height: 24.3px;
}
.logo-mark-icon7 {
  top: 0;
  left: calc(50% - 100.35px);
  width: 35px;
  height: 35px;
}
.logo-combo7 {
  width: 200.7px;
  height: 35px;
}
.companies2,
.find-jobs3,
.home2,
.logo-combo7 {
  position: relative;
  cursor: pointer;
}
.companies2,
.find-jobs3 {
  font-weight: 600;
}
.companies2 {
  color: var(--border-active);
}
.home-container,
.sign-up10 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home-container {
  gap: 0 30px;
}
.sign-up10 {
  position: absolute;
  top: 0;
  left: calc(50% - 57px);
  border-radius: var(--br-4xl);
  border: 2px solid var(--border-active);
  overflow: hidden;
  padding: var(--padding-3xs) var(--padding-11xl);
}
.logsign-up4 {
  width: 114px;
  position: relative;
  height: 45px;
  cursor: pointer;
}
.sign-up11 {
  position: absolute;
  top: 0;
  left: calc(50% - 66.5px);
  border-radius: var(--br-4xl);
  background-color: var(--border-active);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-11xl);
}
.logsign-up5 {
  width: 133px;
  position: relative;
  height: 45px;
  cursor: pointer;
}
.logo-combo-parent1,
.logsign-up-container,
.nav4 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logsign-up-container {
  flex-direction: row;
  gap: 0 20px;
  color: var(--primary-color-1);
}
.logo-combo-parent1,
.nav4 {
  position: absolute;
}
.logo-combo-parent1 {
  margin: 0 !important;
  top: 27px;
  left: 45px;
  flex-direction: row;
  gap: 0 332px;
  z-index: 1;
}
.nav4 {
  top: 0;
  left: calc(50% - 756px);
  flex-direction: column;
  gap: 10px 0;
  font-size: var(--header-6-size);
  color: var(--color-black);
  font-family: var(--body-small);
}
.companies-page {
  width: 100%;
  position: relative;
  background-color: var(--background-color);
  height: 3791px;
  overflow-x: auto;
  text-align: left;
  font-size: var(--header-1-size);
  color: var(--background-color);
  font-family: var(--header-6);
}
